@charset "UTF-8";
html,body{
	height:100
}
a{
	text-decoration:none;
}
.comm_head{
	width:100%;
	height:250px;
	margin:auto;
	background-image:url(https://ssl.nexon.com/s2/game/fo4/obt/theme/default/ico_btn_login_total.png);
}
.comm_header{
	
	height:250px;
	width:67%;
	position: relative;
	margin:auto;
	
}
.comm_header_tap{
	width:100%;
	bottom:0px;
	position:absolute;
	bottom:0px;
}
.comm_header_tap_obj{
	border:1px solid #5ec7b8;
	color : white;
	display: inline-block;
	margin:0;
	padding:0;
	width:33%;
	text-align:center;
	height:80px;
	font-size:18px;
	vertical-align:middle;
	background-color:#6ee5d2;
	
}
.comm_header_tap_picked{
	border:1px solid #e5e5e5;
	background-color:white;
	display: inline-block;
	margin:0;
	padding:0;
	width:33%;
	text-align:center;
	height:80px;
	font-size:18px;
	vertical-align:middle;
	font-weight:bold;
}
table{
	width:100%;
	border-top: 7px solid 
}
.comm_table{
	border-top:10px solid #3e3d55;
	width:100%;
	text-align:center;
}
.comm_table_cap{
	text-align:left;
	font-size:28px;	
}
.comm_table_head{
	font-size:16px;
	color:#7a7984;
}
.spacing{
	border-spacing:1em 0.5em;
}
th{
	border-bottom:3px solid #3e3d55;
}
td{
	border-bottom:1px solid #e5e5e5;
}